* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  /* General */
  --blue-800: #022144;
  --white: #fafbfc;
  --yellow: #feb633;

  /* Light Theme */
  --light-theme-gray-800: #32333c;
  --light-theme-gray-600: #8a8fa3;
  --light-theme-white-primary: #f6f8fc;
  --light-theme-white-secondary: #fff;

  /* Dark Theme */
  --dark-theme-gray-500: #CCCCCC;
  --dark-theme-gray-600: #9f9f9f;
  --dark-theme-gray-800: #393838;
  --dark-theme-gray-900: #252525;
}

body {
  overflow-x: hidden;
  color: var(--light-theme-gray-600);
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.limitar-secao {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}