* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-size: 62.5%;
  text-decoration: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

:root {
  --blue-800: #022144;

  --gray-800: #32333c;
  --gray-600: #8a8fa3;
  --gray-500: #CCCCCC;

  --white: #fff;
  --white-primary: #fafbfc;
  --white-secundary: #f6f8fc;

  --yellow: #feb633;
}

body {
  color: var(black);
  min-height: 100vh;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
